<!-- change input topic name -->
<arg name="input" default="/kinect_head/depth_registered/points" if="$(arg pr2)"/>
<arg name="input" default="/camera/depth_registered/points" unless="$(arg pr2)"/>

<!-- parameter for box filter -->
<arg name="box_filter_frame" default="base_link" if="$(arg pr2)"/>
<arg name="box_fileter_dimension_x" default="2" if="$(arg pr2)"/>
<arg name="box_fileter_dimension_y" default="1" if="$(arg pr2)"/>
<arg name="box_fileter_dimension_z" default="1" if="$(arg pr2)"/>
<arg name="box_fileter_initial_pos" default="[1 0.0 1]" if="$(arg pr2)"/>

<arg name="box_filter_frame" default="camera_rgb_frame" unless="$(arg pr2)"/>
<arg name="box_fileter_dimension_x" default="10" unless="$(arg pr2)"/>
<arg name="box_fileter_dimension_y" default="10" unless="$(arg pr2)"/>
<arg name="box_fileter_dimension_z" default="10" unless="$(arg pr2)"/>
<arg name="box_fileter_initial_pos" default="[0.0 0.0 0.0]" unless="$(arg pr2)"/>
