<launch>
  <arg name="input" default="/kinect_head/depth_registered/points" />
  <arg name="sensor_frame" default="/head_mount_kinect_rgb_optical_frame" />
  <arg name="manager" default="tabletop_object_detector_nodelet_manager" />
  <arg name="machine" default="localhost" />

  <arg name="launch_manager" default="true" />
  <arg name="launch_tracking" default="true" />
  <arg name="launch_openni" default="true" />
  <arg name="launch_rviz" default="true" />
  <arg name="publish_tf" default="true" />

  <machine name="localhost" address="localhost" />

  <!-- tabletop object detection -->
  <node name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager"
        machine="$(arg machine)" if="$(arg launch_manager)"
        output="screen" />

  <node name="input_relay" pkg="nodelet" type="nodelet"
        args="load jsk_topic_tools/Relay $(arg manager)"
        machine="$(arg machine)">
    <remap from="~input" to="$(arg input)" />
  </node>

  <node name="multi_plane_estimate" pkg="nodelet" type="nodelet"
        args="load jsk_pcl/OrganizedMultiPlaneSegmentation $(arg manager)"
        output="screen"
        if="$(arg launch_manager)"
        machine="$(arg machine)">
    <remap from="~input" to="input_relay/output" />
    <rosparam>
      max_curvature: 0.01
      estimate_normal: true
    </rosparam>
  </node>

</launch>
