<launch>
    <node name="pointcloud_database_server" pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/PointcloudDatabaseServer" >
        <rosparam subst_value="true">
          models: ["$(find pr2_send_flower)/vase_estimater/pcd/data.pcd"]
          duration: 0.05
          use_array: false
        </rosparam>
    </node>
</launch>
