<launch>

  <arg name="debug_view" default="false"/>

  <node name="image_publisher"
        pkg="jsk_perception" type="image_publisher.py">
    <remap from="~output" to="image" />
    <param name="file_name" value="$(find pr2_send_flower)/vase_estimater/image/1.png" />
  </node>

  <include file="$(find opencv_apps)/launch/edge_detection.launch">
    <arg name="image" value="/image"/>
    <arg name="canny_threshold2" value="100"/>
    <arg name="edge_type" value="2"/>
    <arg name="debug_view" value="$(arg debug_view)"/>
  </include>


  <node name="slic_super_pixels"
        pkg="jsk_perception" type="slic_super_pixels" >
        <remap from="image" to="/image"/>
        <param name="publish_debug_images" value="true" />
        <param name="weight" value="60" />
        <param name="number_of_super_pixels" value="100" />
  </node>

  <node name="slic_image_view"
    pkg="image_view" type="image_view"
    if="$(arg debug_view)">
    <remap from="image" to="slic_super_pixels/debug" />
  </node>

</launch>
